
body, html {
  height: 100%;
  background-color: azure;
  background-size: cover;
 /* background-image:url(pic1.jpg);*/
}

* {
  box-sizing: border-box;
 
}


.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image:url(pic5.jpg);
  background-size: cover;
  background-position: center center;
}

.bg-color{
  background-color: azure;
}

.add-task{
 
  background-position: center center;
  background-color: rgb(195, 220, 245,0.3);
  background-size: cover;
 

}

.add-task-bg{
  background-image:url(pic7.png);
  height: 100%;
  background-size: cover;
  

}

.add-task-nav{
  background-position: center center;
  background-color: rgb(195, 220, 245,0.75);
  background-size: cover;

}

