{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/home.css')}}">
{% endblock %}

{% block body %}    
    <div class="add-task-bg">


      <nav class="navbar navbar-expand-sm navbar-dark navbaar">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle py-0" href="#" id="navbardrop" data-toggle="dropdown">
              Menu
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">NEW PROJECT</a>
              <a class="dropdown-item" href="#">PROJECTS</a>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link py-0" href="#">Name</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0" href="#">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <a class="nav-link py-0" href="#">Logout</a>
         </li>
       </ul>
        
      </nav>

      <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <!----add task form-->
                <div class="col-8 mx-auto add-task">
                    <div class="container-fluid">
                      <div class="col-10 mx-auto my-auto">
                    <form class="align-self-baseline" method="post">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form6Example3">Task id</label>
                        <input type="text" id="form6Example3" name = "taskid" class="form-control" />
                      </div>
              
                      <div class="form-outline mb-4">
                          <label class="form-label" for="form6Example3">Task Duration</label>
                          <input type="text" id="form6Example3" name="taskdur" class="form-control" />
                        </div>
              
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form6Example3">Task Description</label>
                          <input type="text" id="form6Example3" name="taskdesc" class="form-control" />
                        </div>
                      <button type="submit" class="btn btn-light btn-block mb-4  col-12 button-clr" name="addtasks" value="addtasks">ADD TASKS</button>
                      <button type="submit" class="btn btn-light btn-block mb-4  col-12 button-clr" name="addsucc" value="addsucc">ADD SUCCESSORS</button>
                      <button type="submit" class="btn btn-light btn-block mb-4  col-12 button-clr" name="delete" value="delete">DELETE</button>

                    </form>
              
                  </div>
              </div>
              </div>
              <br>
              
              <div class="col-12">
                    <!-- add edge code here -->
                    <div class="col-8 mx-auto add-task">
                      <div class="container-fluid">
                        <div class="col-10 mx-auto my-auto">
                      <form class="align-self-baseline" method="post">
                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form6Example3">Task id</label>
                          <input type="text" id="form6Example3" name="edge"  class="form-control" />
                        </div>
                
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-light btn-block mb-4 button-clr" name="addedge" value="addedge">ADD EDGE</button>
                
                        <!--------checkbox-->
                        {% for node in nodes %}
                            <div class="big-checkbox" style="height:30px">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name = "edge_keys" value="{{node.nodename}}">
                            <label class="form-check-label" for="inlineCheckbox1">...{{node.nodename}}</label>
                            </div>
                    
                        {% endfor %}
                      </form>
                
                    </div>
                </div>
                </div>
                <!---edge here -->

              </div>

            </div>

            <!---add edge-->
            <div class="col-12 col-md-6">
                <!-----------table-->
                <div class="row">
                    <div class="col-10 align-self-center mx-auto">        
                        <table class="table table-hover table-text"  >
                        < <thead class="thead-dark">
                          <tr>
                            <th>Task ID</th>
                            <th>Task Duration</th>
                            <th>Task Description</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for node in nodes %}  
                          <tr>
                            <td>{{ node.nodename }}</td>
                            <td>{{ node.duration }}</td>
                            <td>{{ node.task_descr }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-light mb-4 button-clr">Calculate</button>
                    </div>

            </div>
        </div>
      </div>
    
</div>

{% endblock %}
