<!DOCTYPE html>
<html lang="en">

<head>
    <title>project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
        href="https://st.depositphotos.com/1368414/3476/i/600/depositphotos_34768023-stock-photo-reach-out.jpg"
        type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(0, 0, 0);">
    
    <div class="add-task-bg">
    <nav class="navbar navbar-expand-sm navbar-light add-task-nav justify-content-center">
        <!-- Links -->
        <ul class="navbar-nav">
             <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Menu
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">NEW PROJECT</a>
              <a class="dropdown-item" href="#">PROJECTS</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Name</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
      
         
        </ul>
      </nav>

<!-----------------edit-->
      <br>
      <div class="col-6 mx-auto add-task">
      <div class="container-fluid">
        <div class="col-10 mx-auto my-auto">
      <form class="align-self-baseline">
        <!-- Text input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example3">Task id</label>
          <input type="text" id="form6Example3" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example3">Task Name</label>
            <input type="text" id="form6Example3" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="form6Example3">Task Description</label>
            <input type="text" id="form6Example3" class="form-control" />
          </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">ADD TASKS</button>
        <button type="submit" class="btn btn-primary btn-block mb-4">ADD SUCCESSORS</button>
      </form>

    </div>
</div>
</div>


<br>

<!-----------table-->
<div class="row">
<div class="col-7 align-self-center mx-auto">        
    <table class="table table-hover table-primary" >
      <thead class="thead-dark">
        <tr>
          <th>Task ID</th>
          <th>Task Name</th>
          <th>Task Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A</td>
          <td>hhhhdjd</td>
          <td>yyyyyyy</td>
        </tr>
        <tr>
          <td>B</td>
          <td>manf</td>
          <td>zzzz</td>
        </tr>
        <tr>
          <td>C</td>
          <td>prodct</td>
          <td>edweiwd</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


      



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
</div>
</body>