<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>

<body>


    <hr />
    {%- for message in get_flashed_messages() %}
    {{ message }}
    {%- endfor %}

    <h3>Nodes List</h3>
    <table border="2" padding="5">
        <thead>
            <tr>
                <th>Project Name</th>

            </tr>
        </thead>

        <tbody>
            {% for p in projects %}
            <tr>
               <td><a href="{{url_for('addtsk',proj_id=p.id)}}">{{p.proj_name}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
</body>

</html>