{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/sign.css')}}">
{% endblock %}

{% block body %}  

<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Menu
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{url_for('details')}}">NEW PROJECT</a>
          <a class="dropdown-item" href="{{ url_for('listprojects') }}">PROJECTS</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>


    </ul>
  </nav>

  <div style="height:500px;">
    <div class="col-lg-50 col-xl-4 mx-auto">
      <form action="{{ request.path }}" method="post">
        <p>Hi,{{name}}</p>
        <!-- Text input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example3">Project name</label>
          <input type="text" id="form6Example3" name="projname" class="form-control" />
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form6Example7">Project Description</label>
          <textarea class="form-control" id="form6Example7" name="projdescr" rows="4"></textarea>

        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">ADD TASK</button>
      </form>

    </div>
  </div>


{% endblock %}